# Логи и временные файлы
node_modules/
dist/
coverage/
.vscode/
.idea/
.DS_Store
*.log
*.pyc

# Docker
*.env

# Конфиги с чувствительными данными
backend/.env
frontend/.env
nginx/.env
secrets/
credentials/
keys/

# Данные базы
backend/data/
db_data/
postgres_data/
volumes/
