numpy==1.24.3
torch==2.0.1
sentence-transformers==2.2.2
transformers==4.31.0
huggingface_hub==0.14.1
fastapi
uvicorn
aiohttp
faiss-cpu
rank-bm25
scikit-learn
sqlalchemy
asyncpg
pydantic
pydantic-settings
nltk
fuzzywuzzy
python-Levenshtein
